/*-- scss:defaults --*/

// Override background color
$body-bg: #eeeeea;  // Light gray background
$body-color: #202020;  // White text in navbar

// Override navbar color
$navbar-bg: #eeeeea;  // Dark blue navbar
$navbar-fg: #202020;  // White text in navbar




